body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    
}

#header-image {
    width: 500px;
    height: 250px;
    object-fit: fill;
    border: none;
    border-radius: 0%;
}

img {
    width: 200px;
    height: 200px;
    object-fit: fill;
    border: 5px solid #3882f6;
    border-radius: 20px;
    margin-bottom: 5px;
}

.sub-flex-container-1 {
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    
}

.header {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 18px;
}

li {
    list-style: none;
    
}

ul {
    display: flex;
    gap: 18px;
}

.header-container-1 {
    padding: 0 150px;
    
}

.header-content-title {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.header-content-body {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.content-and-image {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.header-content {
    width: 450px;
}

button {
    font-size: 18px;
    font-weight: 700;
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 5px 25px;
    border-radius: 10px;
}

.content-header {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.image-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 150px;
}

.image-box {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
 }

.sub-flex-container-3 {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.body-content-2 {
    display: flex;
    flex-direction: column;
    padding: 150px;
    width: 900px;
    margin: auto;
}

.quote-owner {
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.content-text-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 10px;
}

#button-2 {
    border: 2px solid #f9faf8;
    padding: 2px 45px;
}

.its-time-body {
    font-size: 18px;
}

.its-time {
    font-size: 25px;
    font-weight: 700;
}

.content-text {
    color: #f9faf8;
}

.body-content-3 {
    padding: 200px 150px;
}