* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

li {
    list-style: none;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-content-body {
    color: #e5e7eb;
}